body{
    background-image: url(../../images/Backgrounds/Main_background/book-a-table-background.png);
    background-repeat: no-repeat;
    height: 2000px;
}
main{
    background-image: none;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    gap: 15px;
}
header{
    background-color: rgba(143, 143, 143, 0.315);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(104, 104, 104, 0.35);
    padding: 35px;
    gap: 40px;
}
.cafe_projection{
    display: flex;
    align-items: start;
}
h1{
    margin-bottom: 20px;
    color: rgb(255, 183, 0);
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}
.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form input{
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    width: 300px;
    height: 35px;
}
button{
    border: 1px solid black;
    border-radius: 30% 30% 200% 200%;
    background-color: rgba(255, 183, 0, 0.76);
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    height: 90px;
    min-height: 60px;
    transition: 0.3s ease-in-out;
}
button:hover{
    transform: scale(1.04);
    background-color: rgb(255, 183, 0);
    cursor: pointer;
}
@media (max-width: 1279px) {
    body{
        background-size: cover;
    }
    .container{
        flex-direction:column-reverse;
        padding: 10px;
        gap: 10px;
    }
    .cafe_projection{
        flex-direction: column-reverse;
        align-items: center;
    }
    .plan{
        width: 300px;
    }
    form input{
        width: 400px;
    }
    button{
        width: 600px;
    }
}
@media (max-width: 799px) {
    body{
        background-size: cover;
    }
    .container{
        flex-direction:column-reverse;
        padding: 10px;
        gap: 10px;
    }
    .cafe_projection{
        flex-direction: column-reverse;
        align-items: center;
        width: 150px;
    }
    .cafe_projection img{
        width: 250px;
    }
    form input{
        width: 200px;
    }
}